@font-face {
    font-family: Roboto-Black;
    src: url('/assets/fonts/Roboto-Black.ttf')
}

@font-face {
    font-family: Roboto-Medium;
    src: url('/assets/fonts/Roboto-Medium.ttf')
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/assets/fonts/Roboto-Bold.ttf')
}

html, body {
    font-family: Roboto-Medium, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.logo {
    width: 100%;
    max-width: 100px;
    height: 50px;
}

.bg-area-teste {
    background-color: #050c2ff7;
}

.bg-area-teste-header {
    background-color: #050c2f;
    color: #fff;
}

/*#####################################################################################
    Navbar
#######################################################################################*/

.bg-eSports {
    background: rgb(1, 4, 18);
    background: linear-gradient(90deg, rgba(1, 4, 18, 1) 0%, rgba(6, 14, 55, 1) 32%, rgba(27, 1, 1, 1) 100%);
}

.bg-eSports p, .bg-eSports a, .bg-eSports h1, .bg-eSports h2, .bg-eSports h3, .bg-eSports h4, .bg-eSports h5 {
    color: #fff;
    transition: ease 0.3s;
}

.bg-eSports p:hover, .bg-eSports a:hover, .bg-eSports h1:hover, .bg-eSports h2:hover, .bg-eSports h3:hover, .bg-eSports h4:hover, .bg-eSports h5:hover {
    color: rgba(187, 199, 253, 0.75);
}

.navbar-eSports .navbar-toggler {
    color: #fff;
    border-color: #1c1c1c;
    background-color: #1c1c1c;
}

.navbar-eSports .dropdown-menu {
    background-color: #030617;
}

.navbar-eSports .dropdown-menu .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #070d2b;
}

/*#####################################################################################
   /Navbar
#######################################################################################*/

.jumbo-esports {
    display: flex;
    align-items: center;
    min-height: 600px;
    background-image: url('/assets/img/fundo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.jumbo-esports .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbo-esports .container button:first-child {
    color: #343a40;
    position: absolute;
    width: 127px;
    height: 48px;
    left: 10px;
    z-index: 0;
    background-color: #0EB7B7;
    bottom: 10px;
    border: 0;
}

.jumbo-esports .container button:last-child {
    z-index: 10;
    position: relative;
}

.jumbo-esports p, .jumbo-esports h1 {
    font-family: Roboto-Bold, sans-serif;
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.dobra-2 {
    min-height: inherit;
    background-color: #1A1818;
    display: flex;
}

.dobra-2 div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.bg-dobra-2 {
    min-height: 500px;
    background-image: url('/assets/img/fundo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.bg-dobra-2 .container div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: inherit;
}

.bg-diamond {
    color: #fff;
    background: linear-gradient(180deg, rgba(23, 19, 211, 0) 20%, rgba(23, 19, 211, .1) 20%, rgba(23, 19, 211, .1) 40%, rgba(23, 19, 211, .2) 40%, rgba(23, 19, 211, .2) 60%, rgba(23, 19, 211, .4) 60%, rgba(23, 19, 211, .4) 80%, rgba(23, 19, 211, 0.5) 80%), linear-gradient(45deg, rgba(175, 15, 15, .3) 20%, rgba(175, 15, 15, .4) 20%, rgba(175, 15, 15, .4) 40%, rgba(175, 15, 15, .5) 40%, rgba(175, 15, 15, .5) 60%, rgba(175, 15, 15, .6) 60%, rgba(175, 15, 15, .6) 80%, rgba(175, 15, 15, 0.7) 80%), linear-gradient(-45deg, rgba(2, 26, 150, 0) 20%, rgba(2, 26, 150, .1) 20%, rgba(2, 26, 150, .1) 40%, rgba(2, 26, 150, .2) 40%, rgba(2, 26, 150, .2) 60%, rgba(2, 26, 150, .4) 60%, rgba(2, 26, 150, .4) 80%, rgba(2, 26, 150, 0.6) 80%), linear-gradient(90deg, rgba(14, 72, 172, 0) 20%, rgba(14, 72, 172, .3) 20%, rgba(14, 72, 172, .3) 40%, rgba(14, 72, 172, .5) 40%, rgba(14, 72, 172, .5) 60%, rgba(14, 72, 172, .7) 60%, rgba(14, 72, 172, .7) 80%, rgba(14, 72, 172, 0.8) 80%), linear-gradient(-90deg, rgba(5, 24, 116, 0) 20%, rgba(5, 24, 116, .4) 20%, rgba(5, 24, 116, .4) 40%, rgba(5, 24, 116, .5) 40%, rgba(5, 24, 116, .5) 60%, rgba(5, 24, 116, .6) 60%, rgba(5, 24, 116, .6) 80%, rgba(5, 24, 116, 0.8) 80%), linear-gradient(180deg, rgba(6, 14, 54, 0) 20%, rgba(6, 14, 54, .4) 20%, rgba(6, 14, 54, .4) 40%, rgba(6, 14, 54, .6) 40%, rgba(6, 14, 54, .6) 60%, rgba(6, 14, 54, .8) 60%, rgba(6, 14, 54, .8) 80%, rgba(6, 14, 54, .9) 80%);
    background-color: rgb(6, 14, 54);
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0px 16px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 16px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 16px 5px rgba(0, 0, 0, 0.5);
    transition: ease 0.3s;
    border: none!important;
}

.bg-diamond.btn-diamond-lg {
    font-size: 2rem;
    width: 50%;
}

.bg-diamond:hover, .bg-diamond:focus {
    background-color: #fff;
}

.bg-dobra-2 .container div:first-child button:first-child {
    color: #fff;
    /*background-color: #0eb7b7;*/
    width: 50%;
    font-size: 2rem;
    position: absolute;
    top: 110px;
    left: 50px;
    border: none;
}

/*.bg-dobra-2 .container div:first-child button:first-child {
    position: absolute;
    z-index: 0;
    width: 47.3%;
    height: 60px;
    top: 80px;
    left: 80px;
    background-color: #0E0D0D;
    border: none;
}*/

.btn-full-negro {
    background-color: black;
}

/*.teste1{
    background-image: linear-gradient(55deg, rgba(6,14,55,1) 0%, rgba(6,14,55,1) 59%, rgba(27,1,1,0) 60%);
}*/

/* Little Detail*/

.altura {
    min-height: 60px;
}

/*************/

.lesions {
    min-height: inherit;
}

.bg-lesions {
    color: #fff;
    background-image: url('/assets/img/fundo4.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.bg-lesions .container div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: inherit;
}

.bg-lesions .container div.col-lg-6 {
    justify-content: center;
}

.bg-lesions .container div:nth-child(3) {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: inherit;
}

.bg-lesions .container div:first-child button:first-child {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 60px;
    top: 80px;
    left: 50px;
    font-size: 2rem;
    background-color: #0E0D0D;
    border: none;
}

.bg-lesions-2 {
    color: #fff;
    background-color: #1A1818;
    /*background-image: url('/assets/img/fundo5.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}

/*********************************************************/

.bg-confort {
    color: #fff;
    background-image: url('/assets/img/fundo6.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.confort {
    min-height: inherit;
}

.bg-confort .container div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: inherit;
}

.bg-confort .container div:nth-child(3) {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: inherit;
}

.bg-confort .container div:first-child button:nth-child(2) {
    color: #fff;
    background-color: #0eb7b7;
    width: 50%;
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 80px;
    border: none;
}

.bg-confort .container div:first-child button:first-child {
    position: absolute;
    z-index: 0;
    width: 47.3%;
    height: 60px;
    top: 33px;
    left: 50px;
    background-color: #0E0D0D;
    border: none;
}

.confort h1:first-of-type{
    margin-top: 180px;
}

.confort .col-lg-6 button:last-of-type{
    width: 50%;
}
/**************************************/

.bg-teste {
    color: #fff;
    background-image: url('/assets/img/fundo7.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-teste .container div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: inherit;
}

.bg-teste .container div:first-child button:first-child {
    color: #fff;
    /*background-color: #0eb7b7;*/
    width: 100%;
    font-size: 3rem;
    border: none;
}

.bg-teste2 {
    /*min-height: 90vh;*/
    background-color: #0E0D0D;
    /*align-items: center;*/
}

.bg-teste2 article:first-child{
    padding: 1rem 0;
}
/* ------------------------------------------------------------------------------------------------------
    CONTENT PAGE MAH BRUDAH
--------------------------------------------------------------------------------------------------------- */

.bg-esports {
    background-image: url('/assets/img/esports_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}

.bg-esports2 {
    min-height: 70vh;
    background-image: url('/assets/img/fundo5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-esports2 div:nth-child(2) button:first-child {
    color: #fff;
    /*background-color: #0eb7b7;*/
    width: 40%;
    font-size: 3rem;
    border: none;
}

.subject-box {
    background-color: black;
    color: #fff;
    min-width: 20rem;
    border: 1px solid blue;
}

.bg-esports2-content {
    min-height: 35vh;
    background-image: url('/assets/img/fundo5.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    border-bottom: 5px solid #0eb7b7;
}

.bg-esports3 {
    min-height: 35vh;
    background-image: url('/assets/img/esports_fundo2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-esports3 button:first-child {
    color: #fff;
    /*background-color: #0eb7b7;*/
    width: 40%;
    font-size: 3rem;
    border: none;
}

/* -------------------------------------------------------------------------------------------------- */

.bg-eyestrain {
    min-height: 35vh;
    background-image: url('/assets/img/fundo5.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    padding-top: 5.5rem;
}

.bg-eyestrain div:first-child button:first-child {
    color: #fff;
    /*background-color: #0eb7b7;*/
    width: 40%;
    font-size: 3rem;
    border: none;
}

.bg-eyestrain2 {
    background-image: url('/assets/img/fadiga_ocular.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

.bg-eyestrain2-content {
    min-height: 35vh;
    background-image: url('/assets/img/fundo5.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    border-bottom: 20px solid #272727;
}

.bg-eyestrain3 {
    min-height: 35vh;
    background-image: url('/assets/img/fundo5.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid #272727;
}

/* ---------------------------------------------------------------------------------------- */

.bg-tendonitis {
    background-image: url('/assets/img/tendinite.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ------------------------------------------------------------------------------------------ */

.bg-headache {
    background-image: url('/assets/img/dor_de_cabeca.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ----------------------------------------------------------------------------------------- */

.bg-mouseshoulder {
    background-image: url('/assets/img/ombro_do_mouse.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ------------------------------------------------------------------------------------------- */

.bg-mouseelbow {
    background-image: url('/assets/img/cotovelo_mouse.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* -------------------------------------------------------------------------------------------- */

.bg-disfunction {
    background-image: url('/assets/img/disfunction.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* --------------------------------------------------------------------------------------------- */

.bg-syndrome {
    background-image: url('/assets/img/syndrome.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* -------------------------------------------------------------------------------------------- */

.bg-tenosynovitis {
    background-image: url('/assets/img/tenossinovite.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ------------------------------------------------------------------------------------------- 
    RECOMENDATIONS
 -----------------------------------------------------------------------------------------*/

.bg-sleep {
    background-image: url('/assets/img/sono1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ------------------------------------------------------------------------------------------- */

.bg-lunch {
    background-image: url('/assets/img/lanche1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ----------------------------------------------------------------------------------------- */

.bg-hydration {
    background-image: url('/assets/img/hidratacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ----------------------------------------------------------------------------------------- */

.bg-fatigue {
    background-image: url('/assets/img/fadiga1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ----------------------------------------------------------------------------------------- */

.bg-posture {
    background-image: url('/assets/img/postura1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    color: #fff;
    border-bottom: 50px solid #272727;
}

/* ------------------------------------------------------------------------------------------------------
    CARD HOVER EFFECT MAH BRUDAH
 -------------------------------------------------------------------------------------------------------- */

.card-hover {
    transition: transform 0.5s;
}

.card-hover::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
}

/* Change size when hover effect applied...*/

.card-hover:hover, .card-hover:focus {
    transform: scale3d(1.006, 1.006, 1);
}

.card-hover:hover::after, .card-hover:focus::after {
    opacity: 1;
}

.card {
    border: 2px solid #10227b;
}

.card-img-overlay {
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-img-overlay .card-text {
    font-size: .75rem;
}

/* ------------------------------------------------------------------------------------------------------
   /CARD HOVER EFFECT MAH BRUDAH
 -------------------------------------------------------------------------------------------------------- */

.card__grid-anchors {
    width: max-content;
    flex-direction: row;
}

/* TESTING STUFFS */

.game {
    background: rgb(43, 135, 209) none repeat scroll 0% 0%;
    position: relative;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    color: white;
    text-align: center;
}

.game.waiting-state {
    background: rgb(181, 40, 40) none repeat scroll 0% 0%;
}

.game.go-state {
    background: rgb(56, 181, 40) none repeat scroll 0% 0%;
}
.game.finished{
    background-color: rgb(160, 201, 235) none repeat scroll 0% 0%;
}
.game-view {
    padding: 20px;
    height: 540px;
}

.game-view {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 1010px;
    height: calc(-150px + 100vh);
    position: relative;
    padding: 10px;
}

.game-event-area {
    height: 100%;
    position: relative;
    perspective-origin: center center;
}

.css-jo9r9v {
    position: absolute;
    border-radius: 50%;
    animation: 0.2s ease-out 0s 1 normal none running appear;
}

.css-1qd6j0g {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    animation: 0.1s ease-out 0s 1 normal none running appear;
}

.css-z6vxiy {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.css-17nnhwz {
    transform: translate(-50%, -50%);
    background: white none repeat scroll 0% 0%;
    position: absolute;
}

/* Reaction Time Test */

.react-grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------------
    Media Query (min to max):
 -------------------------------------------------------------------------------------------------------- */

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .img__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .img__container img:first-of-type{
        margin-right: 1rem;
    }
    .img__container img:last-of-type{
        margin-left: 1rem;
    }
    .dobra-2 {
        min-height: inherit;
        clip-path: polygon(0 0, 50% 0, 80% 100%, 0 100%);
        background-color: #1A1818;
        display: flex;
    }
    .bg-lesions-2 .row .col.card__content-links {
        padding: 70px 0;
    }
    .bg-eyestrain2-content article span {
        font-size: 30px;
        color: black;
        -webkit-text-fill-color: #147fcb;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: blue;
    }
    article.container li {
        font-size: 30px;
        color: #147fcb;
        -webkit-text-fill-color: #147fcb;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: blue;
    }
    .card__grid-anchors {
        width: calc(85% - -80px);
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card__grid-anchors a {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
    .card__grid-anchors a:nth-of-type(1) {
        margin-right: 3px;
    }
    .card__grid-anchors a:nth-of-type(1), .card__grid-anchors a:nth-of-type(2) {
        margin-bottom: 3px;
    }
    .card__grid-anchors a:nth-of-type(3) {
        margin-right: 3px;
    }
    .card-deck.test-cards .card {
        height: 100%;
    }
}

/* ------------------------------------------------------------------------------------------------------
   /Media Query (min to max):
 -------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------
    Media Query (max to min):
 -------------------------------------------------------------------------------------------------------- */

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    html, body{
        font-size: 12px;
    }
    .lesions {
        min-height: 450px;
    }
    .jumbo-esports h1{
        text-align: center;
    }
    .jumbo-esports .container a{
        width: 80%;
    }
    .img__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .img__container img{
        max-width: 45%;
    }
    .img__container img:first-of-type{
        margin-right: .5rem;
    }
    .img__container img:last-of-type{
        margin-left: .5rem;
    }
    .bg-lesions-2 .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg-eyestrain2-content article span {
        font-size: 38px;
        color: black;
        -webkit-text-fill-color: #147fcb;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: blue;
    }
    article.container li {
        font-size: 30px;
        color: #147fcb;
        -webkit-text-fill-color: #147fcb;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: blue;
    }
    .card__content-links{
        padding-bottom: 3rem;
    }
    .card__grid-anchors {
        width: 100%;
        flex-direction: column;
    }
    .card__grid-anchors a:nth-of-type(2n+1) {
        margin-bottom: 1rem;
    }
    .card__grid-anchors a:nth-of-type(2n) {
        margin-bottom: 1rem;
    }
    .card__grid-anchors a:first-of-type {
        margin-top: 0;
    }
    .card__grid-anchors a:last-of-type {
        margin-bottom: 0;
    }
    .card-deck.test-cards {
        padding: 2rem;
    }
    .bg-eyestrain .row {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .bg-eyestrain {
        min-height: 25vh;
    }
    .bg-eyestrain .row:first-child {
        min-height: 15vh;
    }
    .bg-eyestrain div:first-child button:first-child {
        width: 100%;
        font-size: 1.75rem;
    }
    .subject-box {
        width: auto;
        margin: 0 1rem;
    }
    span.navbar-text{
        width: 100%;
    }
    .navbar-nav.mr-auto, .navbar-nav{
        align-items: center;
    }
    .navbar-nav li a{
        text-align: center;
    }
    .bg-confort .container div:first-child button:first-child{
        height: 45px;
        top: 40px;
    }
}

/* ------------------------------------------------------------------------------------------------------
   /Media Query (max to min):
 -------------------------------------------------------------------------------------------------------- */